# Configuracion db
POSTGRES_USER=airflow
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=airflow
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

#Airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__FERNET_KEY=generate_with_command_below # Hay que genera con: python -c "from cryptography.fernet import Fernet;
AIRFLOW__WEBSERVER__SECRET_KEY=supersecretkey

# API (Open-Meteo no necesita key)
WEATHER_CITY=Mexico City
WEATHER_LAT=19.4326
WEATHER_LON=-99.1332